.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.profile_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.text_edit {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.data_edit {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}